# Exclude these directories from GitHub source archives (tar.gz/zip).
vcpkg-overlay/ export-ignore
.github/       export-ignore
*.mq4          text diff
*.mq5          text diff
*.mqh          text diff
